/* CarPriceEstimator.css */

/* Style for the form container */
.form-container {
    max-width: 500px;
    margin: 0px auto; /* Center the form vertically and add some top margin */
    padding: 20px; /* Add padding for better spacing */
    background-color: #ffffff; /* Set background color to white */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Style for form inputs */
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* Increase margin for better spacing */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style for submit button */
button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 0; /* Adjust padding for better appearance */
    margin: 10px 0; /* Increase margin for better spacing */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add smooth transition */
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Style for predicted selling price display */
.predicted-price {
    font-size: 24px; /* Increase font size for better readability */
    margin-top: 20px;
    text-align: center;
    font-weight: bolder; /* Center the text */
}